<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Formulario</title>
</head>
<body>
    <header>
        <nav>
            <h1>Formulario de contacto</h1>
        </nav>
    </header>
    <main>
        <form class="contact-form" action="#">
            <input class="email" name="email" placeholder="Escribe tu email aquí" type="text">
            <p class="email-text-warning"></p>
            <textarea class="comment" name="comment" placeholder="Escriba tu comentario aquí" type="text"></textarea>
            <p class="comment-text-warning"></p>
            <button type="reset">Reset</button>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>

    </footer>
    <script src="/js/script.js"></script>
</body>
</html>